body {
    margin: 0;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container, .btn, .display, .equal {
    border: 1px solid black;
}

.container {
    width: 400px;
}

.display {
    height: 80px;
}

.btn-group {
    display: flex;
}

.number-group {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 100px;
    height: 50px;
}

.equal {
    width: 100px;
}